body {
	background:#FFFFFF ;
}
p {
		margin-left:80pt;
		margin-right:80pt ; 
		text-align:justify ;
		font-family:Comic sans MS, sans-serif ;
}

strong {
	color:green;
}

h1{
	color:white;
	text-align: center;
	margin-left:40pt;
	font-size:xx-large;
	text-shadow: 2px 2px grey; 
	font-family: rockwell; 
}

h2{
	color:#F2F5A9;
	margin-left:40pt;
	text-decoration: underline;
}

li{
	font-family:Comic sans MS, sans-serif ;
}

ol{
	margin-left:40pt;
}

.banner {
  background: linear-gradient(135deg, rgba(56, 57, 59, 0.2) 0%, rgba(84, 82, 16, 0.4) 100%), 
 url(images/entraide.png);
  text-align: center;
  padding: 130px 10px;
  width: 1020px;
  margin-left: auto;
  margin-right: auto;


}


img{
	width: 80px;
}


.list {
  padding: 0;
  margin: 0;
}

.list-item {
  display: flex;
  padding: 10px;
  transition: background ease 500ms;
}
.list-item:hover {
  background: #EEE;
}

.list-actions {
  opacity: 0;
  transition: opacity ease 500ms;
}

.list-item:hover .list-actions {
  opacity: 1;
}

.list-content {
  flex-grow: 1;
  padding: 10px;
}

.list-votes {
  text-align: center;
  align-self: center;
  padding: 10px;
}

.list-thumb {
  width: 150px;
  height: 75px;
  object-fit: cover;
}

.list h2, .list p {
  margin: 0;
}


